services:
  tf2sv:
    # The arguments passed here are passed directly to the dedicated server binary.
    # For example, this starts the server on ctf_2fort with 24 players max.
    command: [ "+map", "ctf_2fort", "+maxplayers", "24" ]

    environment:
      SERVER_GAME: "tf2"
      # To set the game the server runs, change this variable.
      # Valid game options are...
      # - "tf2" for Team Fortress 2
      # - "tf2c" for Team Fortress 2 Classified (TODO)
      # - "of" for Open Fortress (TODO)

      SOURCE_MOD_INSTALL: "true"
      # This variable, when set to "true", will download and install SourceMod and MetaMod if they haven't already.

      SOURCE_MOD_SM_URL: "https://sm.alliedmods.net/smdrop/1.12/sourcemod-1.12.0-git7221-linux.tar.gz"
      SOURCE_MOD_MM_URL: "https://mms.alliedmods.net/mmsdrop/1.12/mmsource-1.12.0-git1219-linux.tar.gz"
      # These two variables change which version of SourceMod and MetaMod is downloaded and installed.



    # You probably don't need to change anything beyond this point.

    image: notquiteapex/tf2sv
    stdin_open: true
    tty: true
    entrypoint: ["/root/.steam/svscripts/run.sh"]
    ports:
      - "27005:27005/tcp"
      - "27005:27005/udp"
      - "27015:27015/tcp"
      - "27015:27015/udp"
    volumes:
      - type: bind
        source: ./server
        target: /root/.steam/sv
        bind:
          propagation: rshared
