name: Build image.

on:
  push:
    branches: ["main"]

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Docker Build
        run: docker build -t notquiteapex/tf2sv:latest .
      - name: Docker Push
        run: docker push notquiteapex/tf2sv:latest
